body {
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg,tomato,white,orangered);
}

.calendar {
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 10%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.678);
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.btn {
    cursor: pointer;
}

#month-year {
    font-weight: bold;
    font-size: 20px;
}

.weekdays,
.days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.days {
    height: auto;
    width: 100%;
}

.weekdays div,
.days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.3s;
}

.days div:hover {
    background-color:white;
    color:orangered;
}

.days .today {
    background-color:orangered;
    color: white;
}

.days .fade {
    color: grey;
}

@media (max-width: 600px) {
    .calendar {
        width: 100%;
        padding: 10px;
    }

    #month-year {
        font-size: 18px;
    }

    .weekdays div,
    .days div {
        padding: 8px 0;
    }

    .days {
        height: auto;
    }
}
